
// set your custom colors here
$siteBgColorCustom: #FFFFFF;
$sidebarBgColorCustom: #F4F7F5;
$textColorCustom: #212427;
$sidebarTextColorCustom: #212427;
$headlineColorCustom: #212427;
$headingColorCustom:#212427;
$bodyLinkColorCustom: #FB3640;
$navLinkColorCustom: #575A5E;
$sidebarLinkColorCustom: #FB3640;
$footerTextColorCustom: #575A5E;
$buttonTextColorCustom: #FFFFFF;
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #222823;
$buttonHoverBgColorCustom: #2c2857;
$borderColorCustom: #575A5E;

